/*
Again I Recommend that you comment where your code begins and ends
This will make merging your code easier
*/

/*Abdullahi Section*/

#div0 {
    display: grid;
}

#div1{
    border:1px solid black;
    background-color: lightblue;
    color: black;
}

#div2{
    border:1px solid black;
    background-color: lightblue;
    color: black;
}

/*End of Abdullahi's Section*/